html {
    font-size: 20px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
    background-color: #3F888A;
  }
  h1 {
    margin: 0;
    padding: 20px 0;
    color: #ffffff;
    text-shadow: 3px 3px 1px black;
    text-align: center;
  }
  
  p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }
  body {
    width: 700px;
    margin: 0 auto;
    background-color: #1EBABD;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }
  img {
    display: block;
    margin: 0 auto;
  }